[Unit]
Description=SNMP Trap Translator
Before=snmptrapd.service

[Service]
Type=forking
ExecStart=/usr/sbin/snmptt --daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
